<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AxMouseManipulator" version="1.2.0" targetFramework="net45" />
  <package id="InputManager" version="1.0.0" targetFramework="net45" />
  <package id="MouseKeyHook" version="5.6.0" targetFramework="net45" />
  <package id="SimWinMouse" version="1.0.0" targetFramework="net45" />
</packages>